{% extends 'layout.html' %}

{% block body %}
<h1>Choose a starting point!.</h1>
<br><br><br>
<script src="js/terminal.js"></script>
<link rel="stylesheet" href="static/pretty.css">

<ul class="listbox" style="list-style-type: none;" id="terminalWindow">
</ul>


<br></br>
<input id="uinput" placeholder=">_">
<button id="uBtn" onclick="update()">Button</button>

<script>
  var input = document.getElementById("uinput");
  input.addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("uBtn").click();
    }
  });
</script>

{% endblock %}